.plnRequisicao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.painelTableStyles {
    width: 400px;
    border-collapse: collapse;
}

.painelItemText {
    font-weight: 700;
    color: var(--corFontSuperSuave);
}

.painelItem, .painelItemText {
    padding: 8px 0px;
    border-bottom: 1px solid #ccc;
}

.painelItem {
    font-weight: 500;
    color: var(--corFontPequenaSuave);
}

.painelResultadoText {
    text-align: left;
    font-size: 12px;
    color: var(--corMegaSuave);
}